* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  border: 2px solid yellow;
  align-items: center;
}

.header--nav {
  display: flex;
  margin-left: auto;
}

.header--nav__link {
  margin-right: 3rem;
}

.header--sub-nav {
  display: flex;
  justify-content: center;
  border: 5px solid blue;
}

.header--sub-nav__link {
  // display: flex;
  margin:  0 2rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
  margin-bottom: 1rem;
}

.main--top-story {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid green;
  height: 25rem;
  width: 100vw;
}

.main--text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  border: 5px solid green;
}

.main--sub-story {
  border: 5px solid black;
  margin: 1rem 1rem;
}

.push {
  height: 50px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: purple;
}

.footer--nav__link {
 border: 5px solid brown;
 margin: 0 .5rem;
}
